*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    height: 100vh;

}
.container{
    width: 400px;
    padding: 20px 40px;
    background-color: darkblue;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px 4px rgba(0,0,0,0.3);
    font-size: 1.2em;
}
h1{
    text-align: center;
    border-bottom: 3px solid  ;
    margin: 0 60px;
}
.form{
    padding: 20px 10px;
}
.form-control{
    margin-bottom: 5px ;
    padding: 5px;
    position: relative;
}
.form-control label{
    display: block;
    margin-bottom: 2px;
}
.form-control input{
    width: 100%;
    padding: 7px;
    outline: none;
    border: none;
    border-radius: 4px;
    
}
.form-control input:focus{
    border: 2px solid aqua;
}
.form i{
    position: absolute;
    right: -35px;
    top: 29px;
    z-index: 3;

    background-color: #fff;
    padding: 5px;
    border-radius: 10px;
}
.form .fa{
    color: orchid;
}
.btn{
   margin-top: 20px;
   background-color: orchid;
   color: #fff;
   display: block;
   margin-left: 4px;
   padding: 10px;
   width: 97%;
   border-radius: 5px;
    border: none;
    outline: none;
    font-size: 1.03em;
}
.hide{
    display: none;
}